.input-grid {
    grid-template-columns: repeat(2, 1fr); 
    display: grid;
    padding: 10px!important;
    border: 1px solid!important;
    box-shadow: #3333333a 5px 5px 5px!important;
    border-radius: 10px!important;
    width: fit-content;

}

.output-grid {
    grid-template-columns: repeat(2, 1fr); 
    display: grid;
    padding: 10px!important;


}

.ingredient-grid {
    grid-template-columns: repeat(2, 1fr); 
    display: grid;
    padding: 10px!important;
    width: fit-content;
;
}

.field {
    grid-template-columns: repeat(3, 1fr); 
    display: grid;
    margin: 10px!important;
}

label.text{
    width: 220px;  
}

#hydration_preview{
    width: 300px;
    border-radius: 10px!important;
}

#res_Salt, #res_Water, #res_Flour, #res_Starter{
    margin-left: 20px!important;

}



/*  INPUT FILEDS*/


/* Base Style and Light Mode */
input {
    /* Base Style */
    width: 100px;
    text-align: center;
    border: 1px solid #ccc!important;
    border-radius: 5px!important;


    /* Light Mode */
    background-color: rgb(255, 255, 255) !important;
}

/* Dark Mode Override */

html.dark input {
    /* Change background to dark grey */
    background-color: #333333 !important;
    
    /* Change border to match dark theme */
    border: 1px solid #555;
}